<div class="webring-banner ${ this.scheme ? 'scheme-' + this.scheme : ''} ${this.theme ? 'theme-' + this.theme : ''}">
  <div class="webring-banner__header">
    <img class="webring-banner__image" src="${this.image}" alt=""/>
    <div class="webring-banner__description">
      <span>This site is part of</span>
      <h3 class="webring-banner__title">
        <a href="${this.url}">${this.ringtitle}</a>
      </h3>
      <span>A webring with ${this.membercount} Members</span>
    </div>
    <a class="webring-banner__info" href="https://en.wikipedia.org/wiki/Webring" title="What's this?">?</a>
  </div>
  <p class="webring-banner__links">
    <a href="${this.url}/previous" class="webring-banner__link webring-banner__link--prev" aria-label="Go to previous site">
      {{ icon(name = 'chevron-left', baseUrl = meta.baseUrl) }}
      Previous
    </a>
    <a href="${this.url}/random" class="webring-banner__link webring-banner__link--random" aria-label="Go to a random site">
      {{ icon(name = 'shuffle', baseUrl = meta.baseUrl) }}
      Random
    </a>
    <a href="${this.url}/next" class="webring-banner__link webring-banner__link--next" aria-label="Go to next site">
      Next
      {{ icon(name = 'chevron-right', baseUrl = meta.baseUrl) }}
    </a>
  </p>
</div>