<div class="webring-banner ${ this.scheme ? 'scheme-' + this.scheme : ''} ${this.theme ? 'theme-' + this.theme : ''}">
  <div class="webring-banner__header">
    <img class="webring-banner__image" src="${this.image}" alt=""/>
    <div class="webring-banner__description">
      <span>This site is part of</span>
      <h3 class="webring-banner__title">
        <a href="${this.url}">${this.ringtitle}</a>
      </h3>
      <span>A webring with ${this.membercount} ${this.memberlabel}. Have a website of your own? <a href="${this.url}">Join our webring</a>!</span>
    </div>
    <a class="webring-banner__info" href="https://en.wikipedia.org/wiki/Webring" title="What's this?">?</a>
  </div>
  <p class="webring-banner__links">
    <a href="${this.url}/previous" class="webring-banner__link webring-banner__link--prev" aria-label="Go to previous site">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg>
      Previous
    </a>
    <a href="${this.url}/random" class="webring-banner__link webring-banner__link--random" aria-label="Go to a random site">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shuffle"><polyline points="16 3 21 3 21 8"></polyline><line x1="4" y1="20" x2="21" y2="3"></line><polyline points="21 16 21 21 16 21"></polyline><line x1="15" y1="15" x2="21" y2="21"></line><line x1="4" y1="4" x2="9" y2="9"></line></svg>
      Random
    </a>
    <a href="${this.url}/next" class="webring-banner__link webring-banner__link--next" aria-label="Go to next site">
      Next
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
    </a>
  </p>
</div>