.feather,
.feathericon {
  display        : inline-block;
  fill           : none;
  flex           : 0 0 1em;
  height         : 1em;
  min-width      : 1em;
  stroke         : currentColor;
  stroke-linecap : round;
  stroke-linejoin: round;
  stroke-width   : 2px;
  width          : 1em;
}