.webring-members {
  display: grid;
  grid-template-columns: minmax(auto, 3fr) 7fr;
}

.unfurl {
  display: grid;
  grid-column: 1/3;
  grid-template-columns: subgrid;
  //grid-template-rows: 1ch 1fr 1fr auto 1fr;
  grid-template-areas:
    "image ."
    "image heading"
    "image description"
    "image small"
    "image ."
  ;
  margin-block: var(--space);
  column-gap: var(--space);
  row-gap: var(--space-s);
}

.unfurl__meta {
  display: flex;
  align-items: center;
  gap: 1ch;
  grid-area: small;
  font-size: var(--fs-9);
}

.unfurl__logo {
  width: 4ch;
  height: 4ch;
}

.unfurl__image {
  grid-area: image;
  aspect-ratio: 1/1;
  align-self: center;
  border-radius: var(--radius-3);
  justify-self: center;
  overflow: clip;
  width: 100%;
  height: 100%;
  background-color: hsl(0 0% 50%);
  box-shadow:
    0 2px 4px hsl(0 0% 0% / 5%),
    0 4px 8px hsl(0 0% 0% / 5%),
    0 8px 12px hsl(0 0% 0% / 5%),
    0 12px 14px hsl(0 0% 0% / 5%);

  img {
    display: block;
    height: 100%;
    margin: 0;
    object-fit: cover;
    width: 100%;

    &.pixelated {
      image-rendering: crisp-edges;
    }
  }
}

.unfurl__heading {
  margin: 0;
  font-size: var(--fs-6);
  align-self: end;
  grid-area: heading;
}

.unfurl__link {
  text-decoration: none;
  color: hsl(var(--rose-4));
}

.unfurl__description {
  margin: 0;
  align-self: start;
  grid-area: description;
  font-size: var(--fs-7);

  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}