.reveal {
	margin-block-start: var(--space-xl);

	&__trigger,
	&__body {
		border-radius: var(--radius-4);
		padding      : var(--space-xl);
	}

	&__trigger {
		background-color: hsl(var(--rose-2));
		color           : hsl(var(--rose-5));
		cursor          : pointer;
		font-family     : var(--font-serif);
		font-size       : var(--fsv-6);
		font-weight     : bold;
		position        : sticky;
		top             : 0;
		z-index         : 9;
	}

	&__body {
		background-color  : hsl(var(--rose-1) / 0%);
		display           : flex;
		flex-direction    : column;
		gap               : var(--space);
		margin-block-start: var(--space-l);

		p,
		ol,
		ul,
		dl,
		table {
			margin: 0;
		}
	}
}