@font-face {
  font-family          : 'Inter';
  font-display         : swap;
  font-weight          : 100 900;
  font-style           : normal italic;
  font-feature-settings: 'zero'1, 'cv08'1, 'cv09'1, 'cv10'1;
  src                  : 
    url("{{ site.baseUrl }}/assets/fonts/Inter.ttf") format('truetype'),
    url("{{ site.baseUrl }}/assets/fonts/Inter.var.woff2") format('woff2');
}