<p>This banner will follow the system color scheme.</p>
<webring-banner>…</webring-banner>

<p>This banner will always be light mode.</p>
<webring-banner scheme="light">…</webring-banner>

<p>This banner will always be dark mode.</p>
<webring-banner scheme="dark">…</webring-banner>