<webring-banner theme="serif">…</webring-banner>
<webring-banner theme="tron">…</webring-banner>
<webring-banner theme="coder">…</webring-banner>
<webring-banner theme="bading">…</webring-banner>
<webring-banner theme="trans">…</webring-banner>
<webring-banner theme="plantlike">…</webring-banner>
<webring-banner theme="borderline">…</webring-banner>