{% set excludeScript = true %}
    {% set webringClass = 'margin-block-l' %}
    {% set webringScheme = null %}

    {% set webringTheme = 'serif' %}
    <h4 class="fsv-6 margin-block-start-xxxl fsv-5">Serif</h4>
    {% set webringScheme = 'light' %}
    {% include "ui/widget.njk" %}
    {% set webringScheme = 'dark' %}
    {% include "ui/widget.njk" %}

    {% set webringTheme = 'tron' %}
    <h4 class="fsv-6 margin-block-start-xxxl fsv-5">Tron</h4>
    {% set webringScheme = 'light' %}
    {% include "ui/widget.njk" %}
    {% set webringScheme = 'dark' %}
    {% include "ui/widget.njk" %}

    {% set webringTheme = 'coder' %}
    <h4 class="fsv-6 margin-block-start-xxxl fsv-5">Coder</h4>
    {% set webringScheme = 'light' %}
    {% include "ui/widget.njk" %}
    {% set webringScheme = 'dark' %}
    {% include "ui/widget.njk" %}

    {% set webringTheme = 'bading' %}
    <h4 class="fsv-6 margin-block-start-xxxl fsv-5">Bading</h4>
    {% set webringScheme = 'light' %}
    {% include "ui/widget.njk" %}
    {% set webringScheme = 'dark' %}
    {% include "ui/widget.njk" %}

    {% set webringTheme = 'trans' %}
    <h4 class="fsv-6 margin-block-start-xxxl fsv-5">Trans</h4>
    {% set webringScheme = 'light' %}
    {% include "ui/widget.njk" %}
    {% set webringScheme = 'dark' %}
    {% include "ui/widget.njk" %}

    {% set webringTheme = 'plantlike' %}
    <h4 class="fsv-6 margin-block-start-xxxl fsv-5">Plantlike</h4>
    {% set webringScheme = 'light' %}
    {% include "ui/widget.njk" %}
    {% set webringScheme = 'dark' %}
    {% include "ui/widget.njk" %}

    {% set webringTheme = 'borderline' %}
    <h4 class="fsv-6 margin-block-start-xxxl fsv-5">Borderline</h4>
    {% set webringScheme = 'light' %}
    {% include "ui/widget.njk" %}
    {% set webringScheme = 'dark' %}
    {% include "ui/widget.njk" %}