<webring-banner{% if webringScheme %} scheme="{{ webringScheme }}"{% endif %}{% if webringTheme %} theme="{{ webringTheme }}"{% endif %}>
    <p>Member of the <a href="https://webringdemo.netlify.com">Nerds of the 90s</a> webring</p>
    <a href="{{ site.baseUrl }}/previous">Previous</a>
    <a href="{{ site.baseUrl }}/random">Random</a>
    <a href="{{ site.baseUrl }}/next">Next</a>
</webring-banner>
<script async src="{{ site.baseUrl }}/embed.js" charset="utf-8"></script>