{% macro icon(name, class, baseUrl) %}
  {{ site.baseUrl }}
  <svg class="feathericon {{ class }}" aria-hidden="true">
    <use href="{{ baseUrl }}/assets/images/feather-sprite.svg#{{ name }}"/>
  </svg>
{% endmacro %}