{% macro icon(name, class, baseUrl) %}
  {{ meta.baseUrl }}
  <svg class="feathericon {{ class }}" aria-hidden="true">
    <use href="https://unpkg.com/feather-icons@4.29.0/dist/feather-sprite.svg#{{ name }}"/>
  </svg>
{% endmacro %}