@font-face {
  font-family : 'Alegreya';
  font-display: swap;
  src         : url("{{ site.baseUrl }}/assets/fonts/alegreya-var.ttf") format('truetype');
}

@font-face {
  font-family : 'Alegreya Sans';
  font-display: swap;
  src         : url("{{ site.baseUrl }}/assets/fonts/alegreya-sans.ttf") format('truetype');
}