@font-face {
  font-family            : 'Fraunces';
  font-display           : swap;
  font-weight            : 100 900;
  font-style             : normal;
  font-variation-settings: 'SOFT'100, 'WONK'1;
  src                    : url("{{ site.baseUrl }}/assets/fonts/Fraunces-var.ttf") format('truetype');
}

@font-face {
  font-family            : 'Fraunces';
  font-display           : swap;
  font-weight            : 100 900;
  font-style             : italic;
  font-variation-settings: 'SOFT'100, 'WONK'1;
  src                    : url("{{ site.baseUrl }}/assets/fonts/Fraunces-ital-var.ttf") format('truetype');
}