@font-face {
  font-family: 'Audiowide';
  font-display: swap;
  src: url("{{ site.baseUrl }}/assets/fonts/Audiowide-Regular.ttf") format('truetype');
}
@font-face {
  font-family: 'VT323';
  font-display: swap;
  src: url("{{ site.baseUrl }}/assets/fonts/VT323-Regular.ttf") format('truetype');
}