<link rel="stylesheet" href="/assets/styles/styles.css">
<link rel="stylesheet" href="/bading-trans.css">
<link rel="stylesheet" href="/borderline.css">
<link rel="stylesheet" href="/coder.css">
<link rel="stylesheet" href="/default.css">
<link rel="stylesheet" href="/plantlike.css">
<link rel="stylesheet" href="/serif.css">
<link rel="stylesheet" href="/tron.css">