---
permalink: '/embed.js'
layout: null
---
{% from "macro.njk" import icon %}

function getTheme(name = '') {
  switch(name.toLowerCase()) {
    case 'serif':
      return `{% include "embed/styles/serif.njk" %}`
    case 'tron':
      return `{% include "embed/styles/tron.njk" %}`
    default:
      return `{% include "embed/styles/default.njk" %}`
  }
}

class WebringBanner extends HTMLElement {
  static SCHEMES = ['dark', 'light']
  static THEMES = ['serif', 'tron', 'coder', 'bading', 'trans', 'plantlike', 'borderline']

  constructor() {
      super();

      this.ringtitle = '{{ site.title }}';
      this.url = '{{ site.baseUrl }}';
      this.image = this.url + '/assets/images/{{ site.image }}';
      this.membercount = {{ members | length}};

      this.refreshAttributes()

      this.shadowObj = this.attachShadow({ mode: 'open' });
      this.render();
  }

  getStyles() {
    const baseStyle = `{% include "embed/base-style.njk" %}`
    const theme = getTheme(this.theme)
    console.log(this.theme)
    
    return `
      <style>${baseStyle} ${theme}</style>
    `;
  }

  getTemplate() {
      return `
        ${this.getStyles()}
        {% include "embed/webring-banner.njk" %}
`;
  }

  render() {
      this.shadowObj.innerHTML = this.getTemplate();
  }

  static get observedAttributes() {
    return ['scheme', 'theme']
  }

  attributeChangedCallback(name, oldValue, newValue) {
    console.log('[ATTRIBUTE CHANGE]', name, oldValue, newValue)
    this.refreshAttributes()
    this.render()
  }

  refreshAttributes() {
    const scheme = this.getAttribute('scheme')
    const schemeIsValid = WebringBanner.SCHEMES.includes(scheme)
    this.scheme =  scheme !=  null && schemeIsValid
      ? scheme
      : ''

    const theme = this.getAttribute('theme')
    const themeIsValid = WebringBanner.THEMES.includes(theme)
    this.theme = theme != null && themeIsValid
      ? theme
      : ''

    console.log({ scheme, theme })
  }
}

customElements.define('webring-banner', WebringBanner);
