---
permalink: /
eleventyComputed:
  title: "{{ site.title }}"
  description: "{{ site.description }}"
---

<div class="section container-s margin-inline-auto">
  <h1 class="fsv-3 text-rose-4">{{ site.title }}</h1>
  <p>{{ site.description }}</p>
  <p>Your blog can be about anything. It can be about design, development, architecture, medicine, cross-stitching, knitting, puzzles, travelling—anything!</p>
</div>