---
permalink: /
eleventyComputed:
  title: "{{ site.title }}"
  description: "{{ site.description }}"
---
{% from "macro.njk" import icon as icon %}

<script>
  function handleBrokenImage(img) {
    img.remove()
  }
</script>
<div class="section container-s margin-inline-auto margin-block-end-xxxl">
  <img src="/assets/images/webring-icon.png" alt="Philippine flag">
  <h1 class="fsv-3 text-rose-3">{{ site.title }}</h1>
  <p>{{ site.description }}</p>
  <p class="fs-7">Your website can be about anything. It can be your online portfolio, or be about design, development, architecture, medicine, cross-stitching, knitting, puzzles, travelling—anything (but only safe for work)!</p>

</div>
<div class="bg-3 padding-block-m">
  <div class="section container-s margin-inline-auto margin-block-end-xxxl">
    <h2 class="fsv-4 text-rose-3">Members <small class="fsv-7">({{ members | length }} members)</small>
    </h2>
    <div class="webring-members">
      {% asyncAll member in webring %}
      <article class="unfurl">
        <h4 class="unfurl__heading">
          <a class="unfurl__link" href="{{ member.url }}">{{ member.title | safe }}</a>
        </h4>
        <p class="unfurl__description">{{ member.description }}</p>
        <div class="unfurl__image">
          {% set imgOk = member.image | isUrlOk %}
          {% if member.image.length > 0 and imgOk %}
            <img class="{{ 'pixelated' if info.image.width < 50 }}" src="{{ member.image }}" alt="">
          {% else %}
            <img src="/assets/images/gradients/{{ 1 | randomInt(9) }}.png" alt="" width="250" height="250">
          {% endif %}
        </div>
        <small class="unfurl__meta">
          {% set urlOk = member.favicon | isUrlOk %}
          {% if member.favicon.length > 0 %}
            <img class="unfurl__logo" src="{{ member.favicon }}" alt="" width="32" height="32" onerror="handleBrokenImage(this)">
          {% endif %}
          <span class="unfurl__publisher">{{ member.publisher }}</span>
        </small>
      </article>
      {% endall %}
    </div>

    <div class="margin-block-xxl" style="display: flex; flex-wrap: wrap; gap: 1ch;">
      <a href="/feeds.xml" class="primary button">
        {{ icon('rss') }}
        Subscribe to all members' RSS feeds
      </a>
      <a href="https://rss.com/blog/how-do-rss-feeds-work/" class="button" target="_blank">
        What's an RSS feed?
      </a>
    </div>
  </div>
</div>
<div class="section container-s margin-inline-auto margin-block-end-xxxl">
  <h2 class="fsv-4 text-rose-3">What's this?</h2>
  <blockquote>
    <p>A community of sites around a common topic, also known as a webring. Each member includes a badge on their site that links to the previous and next sites in the ring. Kids in the 90s used to love it!</p>
    <cite>
      <a href="https://mxb.dev/blog/webring-kit/#h-what%E2%80%99s-a-webring%3F">Max Boeck</a>
    </cite>
  </blockquote>

  <h2 class="fsv-4 text-rose-3">Who can join</h2>
  <p>You can join the webring if…</p>
  <ul>
    <li>You are a Filipino</li>
    <li>You own a website</li>
    <li>The website you own is safe for work (no porn, gore, anything people browsing in public will be embarrassed about) <small>swearing on written media is okay :)</small>
    </li>
    <li>Your site is not homophobic, transphobic, racist, sexist, and a bigot</li>
  </ul>

  <p>If you satisfy these conditions, you're mostly good to join. However, we reserve the right to deny your request to join if we see that your entry is unacceptable because of other reasons not listed here.</p>

  <p>Please note that sites on this webring <em>without</em> the webring links below are subject to removal. Removing these links from your site will break the ring, causing people to not get to other sites in the ring. If the administrator traverses the ring and notice that the links have been removed, your site will be removed from the ring.</p>

  <h2 class="fsv-4 text-rose-3" id="join-pinoy-bloggers">How to join</h2>
  <details class="reveal" id="github-instructions">
    <summary class="reveal__trigger">Devs, look here!</summary>
    <div class="reveal__body">
      {% include "ui/instructions-dev.njk" %}
    </div>
  </details>

  {% include "ui/instructions-not-dev.njk" %}

  <h2 class="fsv-4 text-rose-3" id="add-banner">Add the banner to your website's homepage</h2>
  <p>Once you're in the members list, add this widget anywhere in your site, preferrably somewhere that will be easily seen.</p>
  <div class="fsv-6">{% highlight "html" %}{% include "ui/widget.njk" %}{% endhighlight %}</div>

  <p>It will render this banner that links to the other members:</p>
  {% include "ui/widget.njk" %}

  <h3 class="fsv-5 text-rose-3">Color Schemes (a.k.a Dark and Light Modes)</h3>
  <div class="fsv-6">
    {% set renderStr %}
      The widget supports different color themes and both light and dark color schemes for each theme.

      Add a `scheme` attribute to the `<webring-banner/>` element that is either `light` or `dark` to force a color scheme for the widget. If this attribute is not set, the widget will follow the system color scheme.
    {% endset %}
    {{ renderStr | markdown | safe }}
    {% highlight "html" %}{% include "docs/color-scheme-example.njk" %}{% endhighlight %}
    {% include "docs/color-scheme.njk" %}
  </div>

  <h3 class="fsv-5 text-rose-3">Themes</h3>
  <div class="fsv-6">
    {% set renderStr %}
        The `<webring-banner/>` also supports multiple themes. Every theme has a light and dark mode. To use a theme, add a `theme` attribute to the `<webring-banner>` element and set it to one of the following values.
      {% endset %}
      {{ renderStr | markdown | safe }}
      {% highlight "html" %}{% include "docs/theme-example.njk" %}{% endhighlight %}
      
      <details class="reveal">
        <summary class="reveal__trigger">Themes</summary>
        <div class="reveal__body">
          {% include "docs/theme.njk" %}
        </div>
      </details>
    </div>

    <h2 class="fsv-4 text-rose-3">Frequently Asked Questions</h2>

    <details class="reveal small" name="faq">
      <summary class="reveal__trigger">My site used to be included in this ring, but now it's not. What happened?</summary>
      <div class="reveal__body">
        <p>It could be for the following reasons:</p>
        <ul>
          <li>The webring's links are not included in your website</li>
          <li>Your website features <abbr title="Not safe for work">NSFW</abbr> content.</li>
          <li>Your website features homophobic, transphobic, racist, sexist, and/or bigoted content.</li>
        </ul>
      </div>
    </details>
    <details class="reveal small" name="faq">
      <summary class="reveal__trigger">My site got removed from the web ring. Can I join again?</summary>
      <div class="reveal__body">
        <p>Yes! Just submit your website again through the <a href="#join-form">join form</a> or <a href="#github-instructions">send a pull request</a> on the web ring's Github repository.</p>
      </div>
    </details>

    <h2 class="fsv-4 text-rose-3">Create your own webring!</h2>
    <p>If you want to start your own webring, fork <a href="{{ site.repository }}">this project</a> on Github and follow the instructions in the README.</p>

    <a href="{{ site.repository }}" class="primary button">
      {{ icon('github') }}
      Fork on Github
    </a>
  </div>