---
permalink: /
eleventyComputed:
  title: "{{ site.title }}"
  description: "{{ site.description }}"
---

<div class="section container-s margin-inline-auto margin-block-end-xxxl">
  <h1 class="fsv-3 text-rose-3">{{ site.title }}</h1>
  <p>{{ site.description }}</p>
  <p>Your blog can be about anything. It can be about design, development, architecture, medicine, cross-stitching, knitting, puzzles, travelling—anything!</p>

  <h2 class="fsv-4 text-rose-3">Members</h2>
  <ul>
    {% for member in members %}
      <li>
        <a href="{{ member.url }}">{{ member.title }}</a>
      </li>
    {% endfor %}
  </ul>

  <h2 class="fsv-4 text-rose-3">What's this?</h2>
  <blockquote>
    <p>A community of sites around a common topic, also known as a webring. Each member includes a badge on their site that links to the previous and next sites in the ring. Kids in the 90s used to love it!</p>
    <cite>
      <a href="https://mxb.dev/blog/webring-kit/#h-what%E2%80%99s-a-webring%3F">Max Boeck</a>
    </cite>
  </blockquote>

  <h2 class="fsv-4 text-rose-3">How to join</h2>
  <details class="reveal">
    <summary class="reveal__trigger">If you're a developer…</summary>
    <div class="reveal__body">
      {% include "ui/instructions-dev.njk" %}
    </div>
  </details>

  <details class="reveal">
    <summary class="reveal__trigger">If you're <em>not</em> a developer…</summary>
    <div class="reveal__body">
      {% include "ui/instructions-not-dev.njk" %}
    </div>
  </details>
</div>