.webring-banner,
.webring-banner.scheme-light {
  --webring-font        : Inter, Arial, Helvetica, system-ui, sans-serif;
  --webring-heading-font: Inter, Arial, Helvetica, system-ui, sans-serif;
  --webring-button-font : Inter, Arial, Helvetica, system-ui, sans-serif;

  --webring-bg          : 0 0% 98%;
  --webring-fg          : 0 0% 20%;
  --webring-body-color  : 0 0% 20%;
  --webring-accent-1    : 343 60% 48%;
  --webring-accent-2    : 343 100% 68%;
  --webring-shadow-color: var(--webring-fg);
}

.webring-banner.scheme-dark {
  --webring-bg          : 0 0% 15%;
  --webring-fg          : 0 0% 98%;
  --webring-body-color  : 0 0% 98%;
  --webring-accent-1    : 343 100% 68%;
  --webring-accent-2    : 343 100% 78%;
  --webring-shadow-color: 0 0% 10%;
}

@media (prefers-color-scheme: dark) {
  .webring-banner {
    --webring-bg          : 0 0% 15%;
    --webring-fg          : 0 0% 98%;
    --webring-body-color  : 0 0% 98%;
    --webring-accent-1    : 343 100% 68%;
    --webring-accent-2    : 343 100% 78%;
    --webring-shadow-color: 0 0% 10%;
  }
}