.webring-banner,
.webring-banner.scheme-light {
  --webring-font        : 'Source Code Pro', monospace;
  --webring-heading-font: 'Audiowide', sans-serif;
  --webring-button-font : 'Source Code Pro', monospace;

  --webring-bg          : 233 100% 98%;
  --webring-fg          : 230 95% 7%;
  --webring-body-color  : 230 95% 7%;
  --webring-accent-1    : 216 85% 24%;
  --webring-accent-2    : 211 100% 55%;
  --webring-shadow-color: 230 95% 7%;
}

.webring-banner.scheme-dark {
  --webring-bg          : 216 85% 24%;
  --webring-fg          : 233 100% 98%;
  --webring-body-color  : 233 100% 98%;
  --webring-accent-1    : 216 85% 24%;
  --webring-accent-2    : 216 100% 84%;
  --webring-shadow-color: 211 100% 55%;
}

@media (prefers-color-scheme: dark) {
  .webring-banner {
    --webring-bg          : 216 85% 24%;
    --webring-fg          : 233 100% 98%;
    --webring-body-color  : 233 100% 98%;
    --webring-accent-1    : 216 85% 24%;
    --webring-accent-2    : 216 100% 84%;
    --webring-shadow-color: 211 100% 55%;
  }
}

.webring-banner {
  border       : 2px solid hsl(var(--webring-accent-2));
  border-radius: 0;
}

.webring-banner__links {
  border-color: hsl(var(--webring-accent-2));
}