$colors: light, dark, rose, "gold", warning, danger, success, info;
$level-start: 1;
$level-end: 5;

.text {
  @each $color in $colors {
    @for $level from $level-start through $level-end {
      &-#{$color}-#{$level} {
        color: hsl(var(--#{$color}-#{$level}));
      }
    }
  }
}

.bg {
  @each $color in $colors {
    @for $level from $level-start through $level-end {
      &-#{$color}-#{$level} {
        background-color: hsl(var(--#{$color}-#{$level}));
      }
    }
  }

  @for $level from $level-start through $level-end {
    &-#{$level} {
      background-color: hsl(var(--bg-#{$level}));
    }
  }
}
